@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Poppins:wght@200&display=swap');

*{
    box-sizing:border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #13005A;
}

#seleccionar-mascota{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: crimson;
    font-size: 40px;
    font-family: 'Passion One', cursive;
}

.subtitulo{
    color: antiquewhite;
    font-size: 32px;
}



.tarjetas, .tarjetas-ataques{
    display: flex;
    gap: 10px;
}

.tarjeta-mokepoke{
    width: 168px;
    height: 188px;
    background-color: #00337C;
    padding: 10px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: whitesmoke;
    font-size: 24px;
    cursor: pointer;
}

.tarjeta-mokepoke img{
    height: 88px;

}

#boton-mascota{
    width: 200px;
    height: 40px;
    background-color: transparent;
    color: wheat;
    border-radius: 20px;
    border: 3px solid #1C82AD;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.botones-ataque{
    width: 140px;
    height: 60px;
    background-color: transparent;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
    box-shadow: 2px 7px 10px black;
    cursor: pointer;
}
#eleccion-ataque{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#mensajes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
}

#boton-reiniciar{
    width: 200px;
    height: 40px;
    background-color: transparent;
    color: wheat;
    border-radius: 20px;
    border: 3px solid #1C82AD;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.ataques{
    display: grid;
    grid-template-columns: 450px 450px;
}

.ataques-jugador, .ataques-enemigo, .replica{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:450px){
    .tarjetas, .tarjetas-ataques{
        flex-direction: column;
        align-items: center;
    }
}

input{
    display: none;
}

input:checked + label{
    background-color: dodgerblue;
}