*{
    box-sizing:border-box;
}
h1 {
    color: crimson;
    background-color: aqua;
    width: 390px;
    height: 40px;
}

#seleccionar-mascota{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.tarjeta-mokepoke{
    width: 100px;
    height: 100px;
    background-color: aqua;
    padding: 10px;
    border: 1px solid chocolate;
    margin: 5px;
}

input{
    display: none;
}